<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 20px;width: 500px;">
        <div class="col-12">
            <h2>
                ECE 656 Project <br>
                Rental House Searching Tool
            </h2>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;" id="app">
        <div class="col-10">
            <form class="form-inline">
                <span style="margin-left: 10px; color: #008000;">Runtime：{{duration}}</span>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql11" style="width: 180px;text-align: left">User Name: </label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql11" placeholder="enter user name" v-model="username3">
                </div>
                <label for="title-mysql19" style="width: 180px; text-align: left">Upper Limit Price</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql19" placeholder="type in upper limit" v-model="price">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql15" style="width: 180px; text-align: left">Weekly Price</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql15" placeholder="type in weekly price" v-model="weeklyPrice">
                </div>
                <label for="title-mysql16" style="width: 180px; text-align: left">Monthly Price</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql16" placeholder="type in monthly price" v-model="monthlyPrice">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql2" style="width: 180px;text-align: left">Country Name</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql2" placeholder="type in country name" v-model="countryName">
                </div>
                <label for="title-mysql12" style="width: 180px;text-align: left">State Name</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql12" placeholder="type in state name" v-model="stateName">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql13" style="width: 180px;text-align: left">City Name</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql13" placeholder="type in city name" v-model="cityName">
                </div>
                <label for="title-mysql17" style="width: 180px;text-align: left">Bed Number</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql17" placeholder="type in bed number" v-model="bednumber">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql18" style="width: 180px;text-align: left">Amenity</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql18" placeholder="type in amenities" v-model="amenities">
                </div>
                <label for="title-mysql3" style="width: 180px;text-align: left">Extra Guest Fee</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql3" placeholder="type in extra guest fee" v-model="extraPeople">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql4" style="width: 180px;text-align: left">Review Rating</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql4" placeholder="type in reviewscoresrating" v-model="reviewscoresrating">
                </div>
                <label for="title-mysql14" style="width: 180px;text-align: left">Host Acceptance Rate</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql14" placeholder="type in hostacceptancerate" v-model="hostacceptancerate">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="select1" style="width: 180px;text-align: left">Cancellation Policy</label>
                <select name="cancellationPolicy"  style="width: 200px" id="select1">
                    <option value="" selected="selected"></option>
                    <option value="moderate">moderate</option>
                    <option value="flexible">flexible</option>
                    <option value="strict">strict</option>
                    <option value="strict_new">strict_new</option>
                    <option value="moderate_new">moderate_new</option>
                    <option value="flexible_new">flexible_new</option>
                    <option value="super_strict_30">super_strict_30</option>
                    <option value="super_strict_60">super_strict_60</option>
                    <option value="long_term">long_term</option>
                    <option value="super_strict_30_new">super_strict_30_new</option>
                    <option value="super_strict_60_new">super_strict_60_new</option>
                    <option value="no_refunds">no_refunds</option>
                </select>
                <label for="select2" style="width: 180px;text-align: left">Room Type</label>
                <select name="roomType" style="width: 200px" id="select2">
                    <option value="" selected="selected"></option>
                    <option value="Entire home/apt">Entire home/apt</option>
                    <option value="Private room">Private room</option>
                    <option value="Shared room">Shared room</option>
                </select>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="select4" style="width: 180px;text-align: left">Bed Type</label>
                <select name="bedType" style="width: 200px" id="select4">
                    <option value="" selected="selected"></option>
                    <option value="Real Bed">Real Bed</option>
                    <option value="Pull-out Sofa">Pull-out Sofa</option>
                    <option value="Airbed">Airbed</option>
                    <option value="Futon">Futon</option>
                    <option value="Couch">Couch</option>
                </select>
                <label for="select3" style="width: 180px;text-align: left">Host Response Time</label>
                <select name="hostResponseTime" style="width: 200px" id="select3">
                    <option value="" selected="selected"></option>
                    <option value="within a day">within a day</option>
                    <option value="within a few hours">within a few hours</option>
                    <option value="within an hour">within an hour</option>
                    <option value="a few days or more">a few days or more</option>
                </select>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql5" style="width: 180px;text-align: left">Availability in 30 days</label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql5" placeholder="availability in 30 days" v-model="availability30">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 20px; width: 1000px;">
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="getListing">search</button>
            </form>
            <form class="form-inline">
                <span style="margin-left: 10px; color: #008000;">Runtime：{{duration2}}</span>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql6" style="width: 180px;text-align: left">User Name: </label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql10" placeholder="enter user name" v-model="username1">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 20px; width: 1000px;">
                <label for="start_time" style="width: 180px;text-align: left">Select Start Date: </label>
                <input type="date" style="width: 200px" id="start_time">
                <label for="end_time" style="width: 180px;text-align: left">Select End Date: </label>
                <input type="date" style="width: 200px" id="end_time">
            </form>
            <form class="form-inline" style="margin-top: 20px; width: 1000px;">
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="getHistory">getHistory</button>
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="deleteHistory">deleteHistory</button>
            </form>
            <form class="form-inline">
                <span style="margin-left: 10px; color: #008000;">Runtime：{{duration3}}</span>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql6" style="width: 180px;text-align: left">User Name: </label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql9" placeholder="enter user name" v-model="username2">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql6" style="width: 180px;text-align: left">Listing url: </label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql6" placeholder="enter listing url" v-model="urlListing">
                </div>
                <label for="title-mysql8" style="width: 180px;text-align: left">Notes Added: </label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql8" placeholder="enter messages" v-model="memo">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 20px; width: 1000px;">
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="addToFavorites">addToFavorites</button>
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="deleteFav">deleteFav</button>
            </form>
            <form class="form-inline">
                <span style="margin-left: 10px; color: #008000;">Runtime：{{duration4}}</span>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql20" style="width: 180px;text-align: left">User Name: </label>
                <div class="form-group mb-2">
                    <input type="text" style="width: 200px" class="form-control" id="title-mysql20" placeholder="enter user name" v-model="username4">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 20px; width: 1000px;">
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="getFavoritesByUser">getFavoritesByUser</button>
            </form>

            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <div class="row" >
                    {{message}}
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <div class="row" v-for="(result,index) in resultList" style="margin-top: 5px;width:1000px">
                    <div class="row" >
                        {{result}}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2">
            <ul class="nav flex-column">
                <form method="get" action="/register.html">
                    <button type="submit" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;">Register</button>
                </form>
            </ul>
        </div>
    </div>
</div>

<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script>

    var app ;
    app = new Vue({
        el:'#app',
        data:{
            resultList:[],
            id:'',
            price:'',
            countryName:'',
            extraPeople:'',
            reviewscoresrating:'',
            availability30:'',
            duration:'',
            duration2:'',
            duration3:'',
            duration4:'',
            message:'',
            startDate:'',
            endDate:'',
            username1:'',
            username2:'',
            username3:'',
            username4:'',
            stateName:'',
            memo:'',
            urlListing:'',
            cityName:'',
            hostacceptancerate:'',
            weeklyPrice:'',
            bedType:'',
            bednumber:'',
            amenities:''
        },
        methods:{
            getListing:function () {
                console.log("queryListingsByConditionSelective");
                var that = this;
                var cancellationSelect = document.getElementById("select1");
                var cancellationSelectIndex = cancellationSelect.selectedIndex;
                var roomTypeSelect = document.getElementById("select2");
                var roomTypeSelectIndex = roomTypeSelect.selectedIndex;
                var bedTypeSelect = document.getElementById("select4");
                var bedTypeSelectIndex = bedTypeSelect.selectedIndex;
                var hostResponseTimeSelect = document.getElementById("select3");
                var hostResponseTimeSelectIndex = hostResponseTimeSelect.selectedIndex;
                debugger
                var param = {
                    "username":that.username3 == ""?null:that.username3,
                    "price":that.price,
                    "countryName":that.countryName == ""?null:that.countryName,
                    "extraPeople":that.extraPeople,
                    "reviewscoresrating":that.reviewscoresrating,
                    "cancellationpolicy":cancellationSelect.options[cancellationSelectIndex].value == ""? null:cancellationSelect.options[cancellationSelectIndex].value,
                    "roomtype":roomTypeSelect.options[roomTypeSelectIndex].value == ""?null : roomTypeSelect.options[roomTypeSelectIndex].value,
                    "availability30":that.availability30,
                    "stateName":that.stateName == ""?null:that.stateName,
                    "cityName":that.cityName == ""?null:that.cityName,
                    "hostacceptancerate":that.hostacceptancerate,
                    "weeklyPrice":that.weeklyPrice,
                    "monthlyPrice":that.monthlyPrice,
                    "bedType":bedTypeSelect.options[bedTypeSelectIndex].value == ""?null : bedTypeSelect.options[bedTypeSelectIndex].value,
                    "hostResponseTime":hostResponseTimeSelect.options[hostResponseTimeSelectIndex].value == ""?null : hostResponseTimeSelect.options[hostResponseTimeSelectIndex].value,
                    "bednumber":that.bednumber,
                    "amenities":that.amenities == ""?null:that.amenities
                };
                debugger
                axios.post("http://localhost:8080/queryListingsByConditionSelective",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration = response.data.duration;
                    that.message = response.data.message;
                })
            },
            getHistory:function(){
                console.log("getHistory");
                var that = this;
                var now = new Date();
                var month_t = (now.getMonth() + 1).toString();
                if(now.getMonth() + 1 < 10){
                    month_t = '0' + (now.getMonth() + 1);
                }
                var day_t = now.getDate().toString();
                if(now.getDate() <= 9){
                    day_t = '0' + now.getDate();
                }
                var today = now.getFullYear()+"-"+(month_t)+"-"+(day_t);
                if(document.getElementById("start_time").value == null || document.getElementById("start_time").value == ""){
                    debugger
                    document.getElementById("start_time").value = (today);
                }
                if(document.getElementById("end_time").value == null || document.getElementById("end_time").value == ""){
                    debugger
                    document.getElementById("end_time").value = (today);
                }
                debugger
                var start = document.getElementById("start_time");
                var end = document.getElementById("end_time");
                var param = {
                    "searchDateTime":start.value,
                    "searchDateTimeEnd":end.value,
                    "username":that.username1 == ""?null:that.username1
                };
                debugger
                axios.post("http://localhost:8080/getHistoryByUserDay",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration2 = response.data.duration;
                    that.message = response.data.message;
                })
            },
            addToFavorites:function () {
                console.log("addToFavorites");
                var that = this;
                var param = {
                    "urlListing":that.urlListing  == ""?null:that.urlListing,
                    "memo":that.memo == ""?null:that.memo,
                    "username":that.username2 == ""?null:that.username2
                };
                debugger
                axios.post("http://localhost:8080/addToFavorites",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration3 = response.data.duration;
                    that.message = response.data.message;
                })
            },
            getFavoritesByUser:function () {
                console.log("getFavoritesByUser");
                var that = this;
                var param = {
                    "username":that.username4 == ""?null:that.username4
                };
                debugger
                axios.post("http://localhost:8080/getFavoritesByUser",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration4 = response.data.duration;
                    that.message = response.data.message;
                })
            },
            deleteHistory:function () {
                console.log("deleteHistory");
                var that = this;
                var now = new Date();
                var month_t = (now.getMonth() + 1).toString();
                if(now.getMonth() + 1 < 10){
                    month_t = '0' + (now.getMonth() + 1);
                }
                var day_t = now.getDate().toString();
                if(now.getDate() <= 9){
                    day_t = '0' + now.getDate();
                }
                var today = now.getFullYear()+"-"+(month_t)+"-"+(day_t);
                if(document.getElementById("start_time").value == null || document.getElementById("start_time").value == ""){
                    debugger
                    document.getElementById("start_time").value = (today);
                }
                if(document.getElementById("end_time").value == null || document.getElementById("end_time").value == ""){
                    debugger
                    document.getElementById("end_time").value = (today);
                }
                debugger
                var start = document.getElementById("start_time");
                var end = document.getElementById("end_time");
                var param = {
                    "searchDateTime":start.value,
                    "searchDateTimeEnd":end.value,
                    "username":that.username1 == ""?null:that.username1
                };
                debugger
                axios.post("http://localhost:8080/deleteHistory",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration2 = response.data.duration;
                    that.message = response.data.message;
                })
            },
            deleteFav:function () {
                console.log("deleteFav");
                var that = this;
                var param = {
                    "urlListing":that.urlListing  == ""?null:that.urlListing,
                    "memo":that.memo == ""?null:that.memo,
                    "username":that.username2 == ""?null:that.username2
                };
                debugger
                axios.post("http://localhost:8080/deleteFav",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration3 = response.data.duration;
                    that.message = response.data.message;
                })
            }
        }
    })
</script>
</body>
</html>