<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 20px;width: 500px;">
        <div class="col-12">
            <h2>
                User Register
            </h2>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;" id="app">
        <div class="col-9">
            <form class="form-inline">
                <span style="margin-left: 10px; color: #008000;">Runtime：{{duration}}</span>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql1" style="width: 250px; text-align: left">User Name: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql1" placeholder="type in name" v-model="userName">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql2" style="width: 250px;text-align: left">Phone: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql2" placeholder="type in phone number" v-model="userPhone">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql3" style="width: 250px;text-align: left">Email: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql3" placeholder="type in email" v-model="userEmail">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql4" style="width: 250px;text-align: left">Country: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql4" placeholder="type in country" v-model="userCountry">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql5" style="width: 250px;text-align: left">State: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql5" placeholder="type in state" v-model="userState">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql5" style="width: 250px;text-align: left">City: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql6" placeholder="type in city" v-model="userCity">
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <label for="title-mysql5" style="width: 250px;text-align: left">Address: </label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="title-mysql7" placeholder="type in street" v-model="userAddress">
                </div>
            </form>

            <form class="form-inline" style="margin-top: 20px; width: 1000px;">
                <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;" v-on:click="userRegister">Sign Up</button>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <div class="row" >
                    {{message}}
                </div>
            </form>
            <form class="form-inline" style="margin-top: 5px; width: 1000px;">
                <div class="row" v-for="(result,index) in resultList" style="margin-top: 5px;width:1000px">
                    <div class="row" >
                        {{result}}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3">
            <ul class="nav flex-column">
                <form method="get" action="/index.html">
                    <button type="submit" class="btn btn-primary mb-2" style="margin-left: 5px;text-align: center;">Continue</button>
                </form>
            </ul>
        </div>
    </div>
</div>

<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script>

    var app ;
    app = new Vue({
        el:'#app',
        data:{
            resultList:[],
            userID:'',
            userName:'',
            userPhone:'',
            userEmail:'',
            userCountry:'',
            userState:'',
            userCity:'',
            userAddress:'',
            duration:''
        },
        methods:{
            userRegister:function () {
                console.log("userRegister");
                var that = this;
                debugger
                var param = {
                    "userid":that.userID == ""?null:that.userID,
                    "username":that.userName == ""?null:that.userName,
                    "userphone":that.userPhone == ""?null:that.userPhone,
                    "useremail":that.userEmail == ""?null:that.userEmail,
                    "usercountry":that.userCountry == ""?null:that.userCountry,
                    "userstate":that.userState == ""?null:that.userState,
                    "usercity":that.userCity == ""?null:that.userCity,
                    "useraddress":that.userAddress == ""?null:that.userAddress,
                };
                debugger
                axios.post("http://localhost:8080/registerUser",param).then(function (response) {
                    that.resultList = response.data.result;
                    that.duration = response.data.duration;
                    that.message = response.data.message;
                })
            }
        }
    })
</script>
</body>
</html>